<!--==========================
    Services Section
  ============================-->
  <section id="services" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3>Servicios</h3>
        <p>Te brindamos una amplia gama de servicio para facilitarte la administración de tu empresa</p>
      </header>

      <div class="row">

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="">Soluciones Administrativas</a></h4>
            <p class="description">Personal idóneo y capacitado es de suma importancia en la administraciòn actual/p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
            <h4 class="title"><a href="">Soluciones Informáticas</a></h4>
            <p class="description">En un mundo tan globanilizado es muy importante estar a la vanguardia digital</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
            <h4 class="title"><a href="">Soluciones Financieras</a></h4>
            <p class="description">Optimizar recursos, buscando siempre generar plusvalías</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
            <h4 class="title"><a href="">Soluciones Logísticas</a></h4>
            <p class="description">Organizar procesos para optimizar costos y tiempos</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
            <h4 class="title"><a href="">Soluciones Globales</a></h4>
            <p class="description">Relaciona tu empresa con empresas del mundo</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
            <h4 class="title"><a href="">Soluciones Temporales</a></h4>
            <p class="description">Decidir a tiempo para aprovechar oportunidades</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #services -->
